<html>
<head>
  <title><%= @result -%></title>
</head>
<body>
  <table>
    <% @graph_template_of.each { |graph_template| -%>
    <tr>
      <td> <%= graph_template.name -%> </td><td> <img src="/image/<%= graph_template.name -%>"></td>
    </tr>
    <% } -%>
  </table>
</body>
</html>

