<!DOCTYPE html>
<html>
<head>
  <title><%= @result -%></title>
  <meta charset="utf-8"/>
</head>
<body>
  <header>
  </header>
  <h1> <%= @result -%> status </h1>
  <nav>

  </nav>
  <% @graph_template_of.each { |graph_template| -%>
  <%=   graph_template.name -%><img src="/image/<%= graph_template.name -%>">
  <% } -%>
</body>
</html>

